/* 
 Tiền tố:
 d-*: display
 bg-*: background
 text-*: color hoặc align
 m-*: margin
 p-*: padding
 d-*: display
  ví dụ: 
    + d-flex -> display: flex
    + d-grid -> display: grid
 content-*: justify-content
 align-*: align-items
 
*/
:root {
    --primary: blue;
    --secondary: orange;
    --thirdary: gray;
  }
  
  .container {
    max-width: 980px;
  }
  /* =========== Background color =========== */
  .bg-orange {
    background: var(--secondary);
  }
  .bg-blue {
    background: var(--primary);
  }
  .hover\:bg-blue:hover {
    background: var(--primary);
  }
  /* ===========  Text color ===========  */
  .text-orange {
    color: var(--secondary);
  }
  .text-white {
    color: #fff;
  }
  .text-black {
    color: #000;
  }
  /* ===========  Alignment ===========  */
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  /* ===========  Margin ===========  */
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .m-0 {
    margin: 0;
  }
  .mb-4 {
    margin-bottom: 16px;
  }
  /* ===========  Padding ===========  */
  .p-0 {
    padding: 0;
  }
  .p-1 {
    padding: 4px;
  }
  .p-2 {
    padding: 8px;
  }
  .p-4 {
    padding: 16px;
  }
  .py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .px-2 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .px-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* ===========  Width ===========  */
  .max-w-full {
    max-width: 100%;
  }
  /* ===========  Display ===========  */
  .flex {
    display: flex;
  }
  .grid {
    display: grid;
  }
  .grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .gap-8 {
    grid-gap: 32px;
  }
  .justify-between {
    justify-content: space-between;
  }
  .items-center {
    align-items: center;
  }
  .list-unstyled {
    list-style: none;
  }
  .no-underline {
    text-decoration: none;
  }
  .border {
    border: 1px solid #ccc;
  }
  .hover\:border-red:hover {
    border-color: red;
  }
  @media (min-width: 576px) {
    .sm\:grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .sm\:grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* prefix: md -> medium */
  @media (min-width: 768px) {
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .md\:grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* prefix: lg -> large */
  @media (min-width: 992px) {
    .lg\:grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .lg\:grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* prefix: xl -> extra large */
  @media (min-width: 1024px) {
    .xl\:grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .xl\:grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* prefix: 2xl -> extra large */
  @media (min-width: 1200px) {
    .xxl\:grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }